.logo {
    background: url(../../../../../public/logo.svg);
    font-size: 1rem;
    width: 3.9375em;
    height: 2.25em;
    display: block;

    &_size_large {
        width: 6.5625em;
        height: 3.75em;
    }
}