:root {
    --white-light: #F9F9F4;
    --white: #F7F7F2;
    --white-dark: #9E9E9B;

    --yellow-light: #E9EACE;
    --yellow: #E4E6C3;
    --yellow-dark: #92937D;

    --green-light: #9FAB91;
    --green: #899878;
    --green-dark: #58624D;

    --dark-green-light: #4C4F4D;
    --dark-green: #222725;
    --dark-green-dark: #161918;

    --black-super-light: #2B2A2C;
    --black-light: #19181A;
    --black: #121113;
    --black-dark: #0B0B0C;

    --default-bg: linear-gradient(168.8deg, #19181A 0.36%, #161918 96.53%);
}
